//  LAYOUT
$layoutbg-main: #fff;
$layoutbg-alt: #000;

//  BLOCK
$blockbg-main: #fff;
$blockbg-alt: #000;

//  TEXT
$text-main: #000;
$text-alt: #fff;

//  ERROR
$errorbg-main: #e03030;
$errorbg-font: #fff;
